h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h1 {
  font-weight: 400;
}

.home-component {
  width: 100%;
  text-align: center;
}

.create-component {
  width: 100%;
}

.main-home-card {
  width: 600px;
  margin: 0 auto;
}

.main-create-card {
  width: 800px;
  margin: 0 auto;
}

.card {
  border-radius: 0px;
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

.polls-list {
  margin-top: 10px;
}

.poll-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.poll-list-item-id {
  font-size: 75%;
  opacity: 0.5;
}

.to-create {
  background-color: #6b8e56;
}

.to-create .list-group-item {
  border: 0px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  background-color: #93c178;
}

.to-create .list-group-item h1{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: -30px;
  color: #DFDCE3;
}

.to-create .list-group-item:hover {
  color: inherit;
  background: inherit;
}

.list-group-item.list-group-item-action.btn:hover {
  background-color: #85ad6b;
  color: rgb(253, 253, 253);  
}  

.create-btn, .create-btn:hover {
  height: 70px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0px;
  background-color: #93C178;
  border-color: #93C178;
}

.create-btn:disabled {
  border-radius: 0px;
  background-color: #dfdce3;
  border-color: #dfdce3;
  text-shadow: 1px 1px grey;
}

.create-label {
  padding-left: 40px;
}

.create-form {
  padding-top: 15px;
}

.create-form > .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
}


.create-form-control {
  padding-right: 40px;
}

.form-group {
  margin-bottom: 0px;
}

.create-banner {
  border: 0px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  background-color: #465C8B;
}

.create-banner-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 15px;
  font-weight: 400;
  color: #DFDCE3;
}

.add-choices-btn {
  color: #93C178;
  border-color: #93C178;
  background-color: transparent;
  margin-top: 15px;
  float: right;
}

.add-choices-btn:hover {
  color: #93C178;
  border-color: #93C178;
  background-color: transparent;
  box-shadow: 1px 1px #DFDCE3;
}

*:focus {
  outline: 0;
  border-color: #93C178;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.create-btn:hover {
  background-color: #85ad6b;
  color: rgb(253, 253, 253);  
} 