body {
  background-color: #dfdce3;
  background: url("./escheresque.png");
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h1 {
  font-weight: 400;
}

.home-component {
  width: 100%;
  text-align: center;
}

.create-component {
  width: 100%;
}

.vote-component {
  width: 100%;
}

.btn-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.card {
  border-radius: 0px;
}

.main-home-card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.main-create-card {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;  
}

.main-vote-card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;  
}

.share-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 0px;  
}

.landing-vote-card {
  width: 400px;
  margin: 20px;
  background-color: #93c178;  
}

.landing-login-card {
  width: 400px;
  margin: 20px;
  background-color: #465C8B;  
}

.landing-container {
  margin-top: 80px;
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

.polls-list {
  margin-top: 10px;
}

.poll-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.poll-list-item-id {
  font-size: 75%;
  opacity: 0.5;
}

.to-create {
  background-color: #6b8e56;
}

.btn-primary {
  background-color: #93C178;
  border-color: #93C178;
  color: #4c4a50;
}

.btn-primary:hover {
  background-color: #98cc75;
  border-color: #98cc75;
  color: #4c4a50;
}

.btn-primary:disabled {
  background-color: #dfdce3;
  border-color: #dfdce3;
}

.to-create .list-group-item {
  border: 0px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  background-color: #93c178;
}

.to-create .list-group-item h1{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: -30px;
  color: #4c4a50;
}

.to-create .list-group-item:hover {
  color: inherit;
  background: inherit;
}

.list-group-item.list-group-item-action.btn:hover {
  background-color: #98cc75;
  color: rgb(253, 253, 253);  
}  

.create-btn, .create-btn:hover {
  height: 70px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0px;
  background-color: #93C178;
  border-color: #93C178;
}

.create-btn:disabled {
  border-radius: 0px;
  background-color: #dfdce3;
  border-color: #dfdce3;
  text-shadow: 1px 1px grey;
}

.create-label {
  padding-left: 40px;
}

.create-form {
  padding-top: 15px;
}

.create-form > .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
}


.create-form-control {
  padding-right: 40px;
}

.form-group {
  margin-bottom: 0px;
}

.blue-banner {
  border: 0px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  background-color: #465C8B;
}

.blue-banner-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 15px;
  font-weight: 400;
  color: #DFDCE3;
}

.green-banner {
  border: 0px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  background-color: #93c178;
}

.green-banner-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 15px;
  font-weight: 400;
  color: #4c4a50;
}

.add-choices-btn {
  color: #93C178;
  border-color: #93C178;
  background-color: transparent;
  margin-top: 15px;
  float: right;
}

.add-choices-btn:hover {
  color: #93C178;
  border-color: #93C178;
  background-color: transparent;
  box-shadow: 1px 1px #DFDCE3;
}

*:focus {
  outline: 0;
  border-color: #93C178;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.create-btn:hover {
  background-color: #98cc75;
  color: #fdfdfd;  
} 

.poll-choice-item.active {
  background-color:#f7ee6a96;
  border-color: #f7ee6a96;
  color: black;
}

.vote-banner {
  border: 0px;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  background-color: #465C8B;
  border-color: #465C8B;
  color: #DFDCE3;
  min-height: 150px;
}

.vote-card-title.card-title {
  padding: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#result-link-text {
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 0px;
  font-size: 14px;
}

.badge-primary {
  color: #36353a;
  background-color: #93c178;
}

.btn-outline-danger {
  color: #C7444A;
  background-color: transparent;
  background-image: none;
  border-color: #C7444A;
}

.btn-outline-danger:hover {
  color: #FDFDFD;
  background-color: #C7444A;
  border-color: #C7444A;
}

.btn-light-text {
  color: #FDFDFD;
}

.btn-light-text:hover {
  color: #FDFDFD;
}

.landing-card-input-group {
  padding: 20px;
}

.landing-card-vote-input {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  background-color: #FDFDFD;
  border: 1px solid #536d44;
}

.landing-card-vote-input:focus {
  z-index: 2 !important;
}

.landing-card-vote-form {
  margin-top: 20px;
  margin-bottom: 15px;
}

.landing-vote-card-btn {
  background-color: #FDFDFD;
  border-color: #536d44;
  color: #536d44;
}

.landing-vote-card-btn:hover {
  background-color: #FDFDFD;
  border-color: #536d44;
  color: #536d44;
}

.landing-login-form {
  padding: 20px;
}

.login-btn-container {
  padding-top: 20px;
}

.landing-login-card-btn {
  background-color: #FDFDFD;
  border-color: #36353a;
  color: #36353a;
  float: right;
}

.landing-login-card-btn:hover {
  background-color: #FDFDFD;
  border-color: #36353a;
  color: #36353a;
}

.landing-card-login-input {
  border-radius: .25rem;
  background-color: #FDFDFD;
  border: 1px solid #36353a;
}

.landing-card-login-input:focus {
  z-index: 2 !important;
}

.vote-id-help {
  text-align: center;
  color: #4c4a50 !important;
}

#inputEmail, #inputPassword, #inputConfirmation {
  margin-top: -10px;
}

.password-form-group {
  margin-top: 10px;
}

.login-signup-change {
  color: #dfdce385;
}

.input-error {
  border: 1px solid red !important;
}

.navbar {
  background: linear-gradient(to right, #465C8B, #93c178);
}

.navbar h1 {
  color: #DFDCE3;
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  color: #DFDCE3;
}

#log-text {
  color: #4c4a50 !important; 
}

#log-text:hover {
  color: #4c4a50 !important; 
  font-weight: 400;  
}

.input-label {
  color: #DFDCE3;
}

.navbar-collapse.collapse.show {
  text-align: center;
  text-shadow: 1px 1px #a7a7a7;
} 

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #DFDCE3;
  font-weight: 400;
}

#copyLabel {
  background-color: #f7ee6a;
  border-radius: 0px;
  border: 1px solid #858e95;
}

#copyText {
  border: 1px solid #858e95;
  color: #969494;
}

#copyButton {
  border-radius: 0;
  background-color: #dfdce3;
  color: #465b8a;
}

.results-label {
  background-color: #485e895e;
}

.list-group-item:focus, .list-group-item:hover {
  z-index: 1;
  text-decoration: none;
  background-color: #f7ee6a1f;
}

.poll-results-item:hover {
  background-color: #ffffff;
}